{
  "presets": [
    [
      "@babel/preset-env",
      //ployfill按需引入解决
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}